header{
  background: url(/img/bg1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 1000px;
}
@media screen and (max-width: 670px){
  header{
    min-height: 800px;
  }
}

.sidenav {
opacity: 0.9;
}

.section{
      padding-top: 4vw;
      padding-bottom: 4vw;
    }
    .tabs .indicator{
      background-color: purple;
    }
    .tabs .tab a:focus, .tabs .tab a:focus.active{
      background: transparent;
    }
.pad-bot {
  padding-bottom: 30px;
}

.box-overlay {
  z-index: 2;
  background: #fff;
  padding: 4rem;
  position: absolute;
  opacity: 0.9;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 500px; }
  @media (max-width: 991.98px) {
    .box-overlay {
      width: 100%; } }
